%script.widget-template{type: 'text/template', 'data-widget-type' => 'pie'}
  #plotarea
  #chart-controls
    .form-inline
      %button#refresh.btn.btn-mini
        %i.icon-refresh
        Refresh
      %span.space
      %label
        Cutoff min:
        %input.btn-mini#cutoff-min
      %span.space
      %label
        Cutoff max:
        %input.btn-mini#cutoff-max
      %span.space
      %label
        Refresh:
        %input.btn-mini#need-refresh{type: :checkbox, checked: :true}
  %hr

