!!!
%head
  %title= @title
  :javascript
    var ROOT = "#{url('/')}";
  - %w{jquery-1.7.2.min.js json2.js underscore-min.js backbone-min.js application.js bootstrap.js}.each do |jsfile|
    %script{:type => 'text/javascript', :src => url("/js/#{jsfile}")}
  %link{:rel => 'stylesheet', :href => url('/css/bootstrap.css'), :type => 'text/css', :media => 'screen'}
%body
  .container
    %ul.nav.nav-tabs#page-titles
