%script#sensor-list{type: 'text/template'}
  %table#sensors.table.table-striped
    %tr
      %th
      %th Title
      %th Type
      %th Interval
    <% _.each(sensors, function(sensor) { %>
    %tr
      %td
        :plain
          <input class="sensor-box" type="checkbox" id="<%- sensor.id %>" />
      %td 
        <%- sensor.annotation %>
        %sub <%- sensor.id %>
      %td <%- sensor.type %>
      %td <%- sensor.interval.humanize() %>
    <% }) %>

%script#dynamic-widget-error{type: 'text/template'}
  .alert.alert-error
    .button.close{'data-dismiss' => 'alert'} ×
    <%- error %>

%script#dynamic-widget-plotarea{type: 'text/template'}
  .well
    #chart
      %h3 Choose sensors to plot 


%script#dynamic-widget{type: 'text/template'}
  .span10
    #dynamic-plotarea
  .span10
    #sensor-controls.form-horizontal
      %p
        %button#refresh-chart.btn.btn-mini
          %i.icon-refresh
          Refresh chart
        Timespan:
        %select#extend-timespan-val.btn-mini.span1
          = partial "widgets/extend_options"
        %button#extend-timespan.btn.btn-mini
          %i.icon-arrow-left
          Extend
        %button#reset-timespan.btn.btn-mini
          %i.icon-arrow-right
          Reset
      %p
        %label
          Chart type 
          %select#chart-type{value: 'area'}
            %option{value: 'area'} Area
            %option{value: 'line'} Line
            %option{value: 'table'} Table
          %button#draw.btn.btn-mini.btn-primary
            %i.icon-play
            Draw
          %button#refresh.btn.btn-mini
            %i.icon-refresh
            Refresh sensor list
    #sensor-list-area
        


