%option{value: 60, selected: true} 1 minute
%option{value: 60 * 5} 5 minutes
%option{value: 60 * 30} 30 minutes
%option{value: 60 * 60 * 2} 2 hours
%option{value: 60 * 60 * 6 } 6 hours
%option{value: 60 * 60 * 24} 1 day
%option{value: 60 * 60 * 24 * 2} 2 days
%option{value: 60 * 60 * 24 * 7} 1 week
%option{value: 60 * 60 * 24 * 7 * 2} 2 weeks
%option{value: 60 * 60 * 24 * 30} 1 month

