%script.widget-template{type: 'text/template', 'data-widget-type' => 'gauge'}
  #plotarea
  #chart-controls
    .form-inline
      %button#refresh.btn.btn-mini
        %i.icon-refresh
        Refresh
      %span.space
      %label
        Refresh:
        %input.btn-mini#need-refresh{type: :checkbox, checked: :true}
  %hr

